.padding {
  padding: 5px;
}

.ui.menu .item img.logo {
  margin-right: 1.5em;
}

.ui.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24,24,115) 0%,
    rgb(33,138,174) 69%,
    rgb(32,167,172) 89%
  ) !important;
}

.ui.main.container,
.main.segment {
  margin-top: 7em;
}

.ui.segment .item .image {
  margin-right: 1.3em;
  float: left;
}

.ui.segment .item .content {
  float: left;
}
/* Clearfix */
.ui.segment .item::after,
.ui.segment .item::before {
  content: ' ';
  display: table;
}

.ui.segment .item::after {
  clear: both;
}

.ui.segment .item .content .header {
  font-size: 16pt;
  color: #222;
}

.masthead {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.masthead {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.masthead.segment {
  height: 100vh;
  min-height: 700px;
  padding: 1em 0 !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  margin-top: 3em;
  margin-bottom: 0em;
  font-size: 4em;
  font-weight: normal;
}

.masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.react-datepicker__time-list {
  padding-left: 0;
}

.autocomplete-dropdown-container  {
  position: absolute;
  background-color: #fff;
  width: 100%;
  border: 1px solid rgb(160, 160, 160);  
  border-radius: 0px 0px 8px 8px;
  padding-bottom: 5px; 
  z-index: 99;
}
.autocomplete-dropdown-container div {
  padding: 12px;
  
}



